AI_PLATFORM_API_KEY=vn-b-yLL82cK_Ys3E-_n7LvWL-8rDKXgd03ba6ca1604a48aca319720ccc855cffVHId3gz-XPBj6_13ul-xcPe0pLYsHZP
AI_PLATFORM_BASE_URL=https://maas-llm-aiplatform-hcm.api.vngcloud.vn/v1
MODEL_NAME=qwen/qwen3-5-27b